/* Styles go here */

h1 {
    text-align: center;
}

form {
    text-align: center;
}

p{
    font-size: 22px;
    text-align: center;
}

.submit {
    background-color: #2B65EC;
    color: #fff;
}

input.search,
select {
    width: 25%;
    height: 30px;
    border: 0.5px solid #2B65EC;
    text-align: center;
}

.repoDetails{
    border: 1px solid lightgrey;
    text-align: left;
    margin: 0 auto;
}

.repoDetails thead{
    border: 1px solid;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.center{
    text-align: center;
}

.repoDetails td {
    border: 1px solid lightgrey;
}

.repoDetails thead tr th {
    width: 100%;
    text-align: center;
}

input {
    height: 30px;
}

table {
    border: 1px solid lightgrey;
    text-align: left;
    margin: 0 auto;
}

thead {
    border: 1px solid;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

td,
th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

tr:hover {
    background-color: #ddd;
}

tr:nth-child(2n) {
    background-color: #f2f2f2;
}

.details {
    width: 90%;
    margin: 0 auto;
}

.requestsLeft{
    padding: 20px;
}

img {
    text-align: center;
}

.userDetails {
    text-align: center;
    padding: 20px;
}

.avatar {
    padding: 30px;
}

.select {
    margin-bottom: 20px;
}

@media (max-width: 768px){
    .loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid #3498db;
        width: 15px;
        height: 15px;
        margin: 5% auto;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
    }
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 30px;
    height: 30px;
    margin: 5% auto;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn{
    cursor: pointer;
}

.name {
    margin: 0 auto;
}