* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

form {
    text-align: center;
}

p {
    font-size: 22px;
    text-align: center;
}

.submit {
    background-color: #2B65EC;
    color: #fff;
}

li.active.btn-custom > a.active{
    background-color: #4CAF50;
    color: #fff;
}

input.search,
select {
    width: 25%;
    border: 0.5px solid #2B65EC;
    text-align: center;
}

select{
    height: 30px;
    width: auto;
}

input {
    height: 30px;
}

.avatar.owner {
    padding: 0;
}

center {
    text-align: center;
}
.repoDetails {
    border: 1px solid lightgrey;
    text-align: left;
    margin: 0 auto;
}

.repoDetails thead {
    border: 1px solid;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

body {
    margin: 0;
    height: 100%;
    padding: 0;
    line-height: initial !important;
}

@media (max-width: 768px) {
    .loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid #3498db;
        width: 15px;
        height: 15px;
        margin: 5% auto;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
    }
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 30px;
    height: 30px;
    margin: 5% auto;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

table.custom {
    border: 1px solid lightgrey;
    text-align: left;
    margin: 0 auto;
    width: auto;
}

table.custom thead {
    border: 1px solid;
    text-align: left;
    background-color: #4CAF50;
    color: white;
} 

.title {
    text-align: center;
}

table.custom td
 {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}
table.custom th{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

td.center {
    text-align: center;
    border-left: 1px solid;
}

 table.custom  tr:hover {
    background-color: #ddd;
}

table.custom  tr:nth-child(2n) {
    background-color: #f2f2f2;
} 

.details {
    width: 95%;
    margin: 0 auto;
}

.requestsLeft {
    padding: 20px;
    text-align: center;
}

img {
    text-align: center;
}

.userDetails {
    text-align: center;
}

.avatar {
    padding: 30px;
}

.select {
    margin-bottom: 20px;
}

.wrap{
    background-color: #ccc;
    border: #ddd 1px solid;
    padding: 1em;
}

.container{
    padding: 25px 25px 25px 0px;
}

.btn-custom{
    text-align: center;
    width: auto;
    background-color: #2B65EC;
    color: #fff;
    display: block;
}
