<div class="details">
    <div ng-if="searching  && !error" class="loader"></div>
    {{error}}
    <div class="center" ng-include="'./templates/requestsLeft.html'"></div>
    <div>
        <p>Viewing details about<br>"{{repo}}"</p>
    </div>
    <table ng-if="repoDetails" class="repoDetails custom">
        <thead>
            <tr>
                <th colspan="3">{{repo}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Owner: {{repoDetails.owner.login}}</td>
                <td><a href="{{repoDetails.owner.html_url}}" target="_blank">Owner profile URL</a></td>
                <td>
                    <div>
                        <a href="{{repoDetails.owner.html_url}}" target="_blank">
                            <img class="avatar owner" height="60" width="60" ng-src="{{repoDetails.owner.avatar_url}}">
                        </a>
                    </div>
                </td>
            </tr>
            <tr ng-if="issues && issues.length > 0">
                <td class="center" colspan="3">
                    <p>Issues</p>
                    <div ng-hide="issues || error" class="loader"></div>
                </td>
            </tr>
            <tr ng-repeat="issue in issues">
                <td>{{issue.title}}</td>
                <td class="center" colspan="2"><a href="{{issue.html_url}}" target="_blank">Issue URL</a></td>
            </tr>
            <tr ng-if="contributors">
                <td class="center" colspan="3">
                    <p>Contributors</p>
                    <div ng-hide="contributors || error" class="loader"></div>
                </td>
            </tr>
            <tr ng-repeat="contributor in contributors">
                <td class="center">{{contributor.login}}</td>
                <td class="center" colspan="2"><a href="{{contributor.html_url}}" target="_blank"><img height="80"
                            width="80" src="{{contributor.avatar_url}}"></a></td>
            </tr>
        </tbody>
    </table>
</div>
</div>